<!DOCTYPE html>
<html>
<head>
  <title>WebSocket Demo</title>
</head>
<body>
<h1>Real-Time Data</h1>
<h2>{{user}}</h2>
<div id="data-container"></div>

<script>

  const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  const socket = new WebSocket(ws_scheme+'://' + window.location.host + '/ws/data/');

  // Handle incoming messages
  socket.onmessage = function(e) {
    console.log('Message received');
    const data = JSON.parse(e.data);

    if (data.type === 'match_called') {
      let container = document.getElementById('data-container');
      container.innerHTML = `
        <div id="matchNotification">
          <h2 id="matchName">${data.data.match_name}</h2>
          <p>Court: <span id="matchCourt">${data.data.court}</span></p>
          <p>Home: <span id="homeTeam">${data.data.home_team}</span></p>
          <p>Guest: <span id="guestTeam">${data.data.guest_team}</span></p>
        </div>
      `;
    }
  };

  socket.onopen = function(){
    console.log('Connected');
  }

  socket.onerror = function(evt) {
    $('#unexpectedReason').show();
  };

  socket.onclose = function(e) {
    console.log(e);
    console.log('Connection closed');
  };

</script>
</body>
</html>